@import '~antd/dist/antd.dark.css';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(245, 245, 245);
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-header,
.ant-menu-item>a {
  color: rgba(255, 255, 255, 0.85) !important;
}

.ant-menu-item>a:hover,
.ant-menu-item>a:active {
  color: rgba(255, 255, 255, 0.85) !important;
}

.ant-modal .ant-card {
  background-color: transparent;
}

.ant-modal-body .ant-avatar > img,
.ant-comment-avatar .ant-avatar-image > img,
.ant-comment-avatar img {
  object-fit: contain;
}

.post-comment--btn .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.comments-list .ant-list-items {
  overflow-y: scroll;
  height: 15rem;
}

.skeleton-image .ant-skeleton-element .ant-skeleton-avatar-lg {
  width: 300px;
  height: 250px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.login-form {
  width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}